body{
    background:rgb(226, 235, 247);
    font-family: Arial, Helvetica, sans-serif
}
h1{
    color:rgb(27, 27, 63);
    text-align: center;
}
.projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
.project {
width: 30%;
margin: 10px;
padding: 20px 10px;
background: rgb(253, 194, 155); /* pick a color */
border-radius: 25%;
}